In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/smoot/Desktop/gender_age_train.csv')

In [3]:
df.head()

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38
3 -4938849341048082022      M   30  M29-31
4   245133531816851882      M   30  M29-31