# Project 4 -- Predicting Salaries for DS Job Seekers

In [68]:
import requests
import numpy as np
import pandas as pd
from lxml import html
import bs4
from bs4 import BeautifulSoup
import urllib2
import re
import patsy 
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split, cross_val_score
import math
from sklearn import preprocessing
%matplotlib inline

In [69]:
# Reading in the file and having a look at the how many rows and columns it contains.
df = pd.read_csv('/Users/smoot/Desktop/indeed-scraped-job-postings.csv')
df.shape

(4791, 6)

In [70]:
# Looking at the first few rows to see what the data set looks like.
df.head(3)

,city,company,salary,summary,title,parsed_salary
0,San+Francisco,MarkMonitor,"$180,000 a year","Data skills (SQL, Hive, Pig). Applying machine...",Data Scientist,180000.0
1,San+Francisco,Workbridge Associates,"$130,000 - $180,000 a year",3+ years of industry experience in a data scie...,Senior Data Scientist,155000.0
2,San+Francisco,Mines.io,"$80,000 - $120,000 a year",We are looking for a data scientist/developer ...,Full-Stack Data Scientist,100000.0

In [71]:
'''''Looking for how many unique cities are in the data set.  There are five cities: San Francisco, New York, Chicago,
Austin and Seattle.  We can also see which city has the most job postings.  We must be aware, in our case, that there
are many duplicate rows and these numbers may not be a real indicator of a city having a large surplus of data
science jobs.'''''

print df['city'].unique()
print df.city.value_counts()

['San+Francisco' 'New+York' 'Austin' 'Seattle' 'Chicago']
Austin           2681
Chicago          1175
New+York          441
San+Francisco     405
Seattle            89
Name: city, dtype: int64

In [72]:
# Looks like there is a '+' between two-word city names.  Lets remove that and add a space.
# df['city'] = df['city'].str.replace('+', ' ')

In [73]:
# Looking at the unique companies in the data set.  Looks like there are a lot of jobs at the University of Austin.
# print pd.unique(df['company'].ravel())
# print df.company.value_counts()

In [74]:
'''''Looking over unique salary values.  We will need to multiply some salaries by 12 since they are listed with a per
month wage.  Also it appears that there is an entry where the salary is listed a per day wage.  This row was had one
duplicate.  I decided there was no straight forward way of converting this into a yearly salary so I decided to 
remove this entry and it's duplicate from the data set. '''''

# pd.unique(df.salary.ravel())
# df.salary.unique().ravel()
df[df.isnull().any(axis=1)]

,city,company,salary,summary,title,parsed_salary
438,New+York,Selby Jennings,$650 - $900 a day,Senior Quantitative Developer/Machine Learning...,Senior Quantitative/Machine Learning - Contract,NaN
456,New+York,Selby Jennings,$650 - $900 a day,Senior Quantitative Developer/Machine Learning...,Senior Quantitative/Machine Learning - Contract,NaN

In [75]:
# Looking at the unique summaries.  Looks like there are several summaries that repeat many times.  We have decided
# to leave these duplicate entries in our data set.
# pd.unique(df['summary'].ravel())
# print df['summary'].value_counts()

In [78]:
# Looking at the unique entries in title.  They appear to match the amount of duplicates in other columns.
# print df.title.value_counts()
# pd.unique(df.title.ravel())

In [81]:
''''We already know there are two null values.  We can also see that the values in this column are not consistent. 
If the 'salary' column had a clear cut salary listed it went nicely into 'parsed_salary.'  If it was a range, it was 
split and that is the value that ended up in 'parsed_salary.'  If it was a salary by month it is likely to be below
$10,000.  We can simply multiply such values by 12 to get something resembling a annual salary.  We do not know how 
benefits will be calculated in such cases but we have decided to treat them the same. '''''
print df.parsed_salary.value_counts()
print pd.unique(df.parsed_salary)

5950.0      788
3210.0      783
8541.5      699
85000.0     396
170000.0    393
82329.0     389
130000.0    369
137500.0    357
150000.0    347
5098.0       35
120000.0     15
76941.5      14
140000.0     13
200000.0      8
100000.0      7
65000.0       7
145000.0      6
64055.5       5
185000.0      5
160000.0      5
135000.0      5
75000.0       5
190000.0      4
3438.5        4
180000.0      4
175000.0      4
125000.0      4
90000.0       4
3611.0        3
8124.5        3
           ...
59984.5       1
8333.0        1
41000.0       1
3524.5        1
57500.0       1
6388.0        1
47406.0       1
51363.0       1
71000.0       1
4966.0        1
53875.0       1
4714.0        1
4459.0        1
71568.0       1
250000.0      1
49012.0       1
47799.5       1
45000.0       1
55200.0       1
225000.0      1
76897.5       1
110000.0      1
3466.0        1
49222.5       1
3361.0        1
52500.0       1
80000.0       1
60000.0       1
2500.0        1
97866.5       1
Name: parsed_salary, dtype: int64
[ 180000.   155000.   100000.   165000.   140000.   300000.   125000.
  130000.   160000.   162500.     3850.   150000.    47406.   120000.
  145000.   170000.    74550.    65000.   227500.    55200.   152500.
  135000.   175000.   200000.     2500.    49012.   137500.   122500.
   97866.5   59984.5  105000.   115000.    75000.    76941.5   80000.
  215000.   250000.        nan   53875.   225000.    88331.    61500.
   64055.5   74119.5   85000.    83500.    76897.5   51363.    57969.
   71568.    69749.    55000.    64000.    52500.    57500.    45000.
   47799.5   47000.   185000.    82065.5    8333.     8541.5    6806.
    8124.5    5950.     4714.     4966.    35000.     2333.     6388.
    4459.    41000.     3210.   190000.     3611.    60000.     2549.5
    2749.5    3139.5    2846.     4178.    81078.     3072.5    3438.5
    5098.     5619.5   87313.5    3524.5   49222.5    3699.5    3466.
    3361.    40000.     5686.5    4949.5   71000.    95000.    90000.
  110000.   132500.    82329. ]

In [83]:
# Let's get rid of the null values in our 'parsed_salary' column.
df.isnull().sum()
df.dropna(inplace = True)

In [85]:
''''Now that we have gotten all the value we can from our 'salary' column, let's replace it with the 'parsed_salary'
column.'''

df['salary'] = df['parsed_salary']
del df['parsed_salary']

In [91]:
# Now lets multiply any value that we've deemed to be a monthly salary by 12 in order to make it an annual salary. 
df['salary'] = df['salary'].apply(lambda x: x*12 if (x < 10000) else x)

In [92]:
# Checking the minimum $ amount in salary
df.salary.min()

27996.0

In [93]:
# Now we are going to calculate the mean of our 'salary' column.  We will use this value to split our salaries in half.
np.median(df.salary)

85000.0

In [94]:
df['salary_b'] = [0 if i < 85000  else 1 for i in df.salary]
df.head(1)

,city,company,salary,summary,title,salary_b
0,San+Francisco,MarkMonitor,180000.0,"Data skills (SQL, Hive, Pig). Applying machine...",Data Scientist,1

In [54]:
# Potential issue: matching column lengths after we have changed the variables into a binary format.
df.head()

,city,company,salary,summary,title,salary_b
0,San Francisco,MarkMonitor,180000.0,"Data skills (SQL, Hive, Pig). Applying machine...",Data Scientist,1
1,San Francisco,Workbridge Associates,155000.0,3+ years of industry experience in a data scie...,Senior Data Scientist,1
2,San Francisco,Mines.io,100000.0,We are looking for a data scientist/developer ...,Full-Stack Data Scientist,1
3,San Francisco,Workbridge Associates,165000.0,In this position you will share programming an...,Data Scientist,1
4,San Francisco,Smith Hanley Associates,140000.0,"This person will recruit, build and lead a tea...",Data Scientist,1

# Response Variable as 0, 1

In [55]:
# I need to create a new column with salary as a 1, 2, 3. 1 = 0 - 65,000, 66,000 - 125,000, 126,000 +
X = patsy.dmatrix('city -1', df)
y = df['salary_b']

In [56]:
lm = LogisticRegression()
logit = lm.fit(X, y)

In [57]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, stratify = y, random_state = 7)

In [58]:
logit.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [59]:
predictions = logit.predict(X_test)
print lm.coef_
# print np.exp(lm.intercept_)

[[-3.01889335  3.60195876  1.07368977  2.02618187 -2.36508424]]

In [19]:
# I would definitely like to discuss this more -- interpreting and making sure it works as you'd expect.
print lm.score(X_test, y_test)
# print lm.score(X_train, y_train)
# print lm.score(X, y)

0.909550917141

In [20]:
score = cross_val_score(logit, X_test, y_test, cv = 5)
score

array([ 0.91167192,  0.92088608,  0.91455696,  0.88924051,  0.91139241])

# Response Variable as 0, 1, 2

In [21]:
# This is making our dependent variable into 3 categories.
df['salary_m'] = [0 if i < 65000 else 2 if i > 125000  else 1 for i in df.salary]
df.head(1)

,city,company,salary,summary,title,salary_b,salary_m
0,San Francisco,MarkMonitor,180000.0,"Data skills (SQL, Hive, Pig). Applying machine...",Data Scientist,1,2

In [22]:
le = preprocessing.LabelEncoder()
le.fit(df['salary_m'])
# df['salary_m'] 
Y = df['salary_m']

In [23]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, stratify = Y, random_state = 42)

In [24]:
logit_one = lm.fit(X, Y)

In [25]:
logit_one

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [26]:
predictions_one = logit_one.predict(X_test)

In [27]:
predictions_one

array([2, 0, 2, ..., 0, 2, 2])

In [28]:
print lm.score(X_test, Y_test)

0.641366223909

# Multinomial Logistic Regression

In [29]:
# Create a position_level column which will contain categorized data for the Title.
def generatePositionLevel(title):
    title = title.lower()
    if (title.find('manager',0,len(title)) >= 0) or (title.find('management',0,len(title)) >= 0):
        return 'manager'
    elif (title.find('senior',0,len(title)) >= 0) or (title.find('vp',0,len(title)) >= 0) or (title.find('director',0,len(title)) >= 0):
        return 'senior'
    return 'other'
    
df['position_level'] = df['title'].apply(generatePositionLevel)
df.head()

,city,company,salary,summary,title,salary_b,salary_m,position_level
0,San Francisco,MarkMonitor,180000.0,"Data skills (SQL, Hive, Pig). Applying machine...",Data Scientist,1,2,other
1,San Francisco,Workbridge Associates,155000.0,3+ years of industry experience in a data scie...,Senior Data Scientist,1,2,senior
2,San Francisco,Mines.io,100000.0,We are looking for a data scientist/developer ...,Full-Stack Data Scientist,1,1,other
3,San Francisco,Workbridge Associates,165000.0,In this position you will share programming an...,Data Scientist,1,2,other
4,San Francisco,Smith Hanley Associates,140000.0,"This person will recruit, build and lead a tea...",Data Scientist,1,2,other

In [30]:
# Setting my features and my dependent variable.
Xs = patsy.dmatrix('city + position_level -1', df)
Ys = Y

In [31]:
# Fitting my data to my model.
logit_two = lm.fit(Xs, Ys)

In [32]:
# Seperating my data into test/train.  
Xs_train, Xs_test, Ys_train, Ys_test = train_test_split(Xs, Ys, test_size=0.33, stratify = Ys, random_state = 7)

In [33]:
# Fitting my training set to my model.
logit_two.fit(Xs_train, Ys_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [34]:
# Predicting the fit of my model to my test data
predictions_two = logit_two.predict(Xs_test)
print predictions_two

[1 2 2 ..., 1 2 1]

In [35]:
score = cross_val_score(logit_two, Xs, Ys, cv = 5)
print score

[ 0.69343066  0.62734864  0.62839248  0.73876698  0.74190178]

In [36]:
print lm.score(Xs_test, Ys_test)

0.750790638836

In [41]:
# Create skill columns which will contain binary data for the Skills.
def generateSkills(jobDescription, skill):
    jobDescription = jobDescription.lower()
    skill = skill.lower()
    if jobDescription.find(skill) >= 0:
        return 1
    return 0

# We limited the skills columns to python, sql and machine learning
df['skill_python'] = [generateSkills(x,'python') for x in df.summary]
df['skill_sql'] = [generateSkills(x,'sql') for x in df.summary]
df['skill_machine_learning'] = [generateSkills(x,'machine learning') for x in df.summary]
df.head(1)

,city,company,salary,summary,title,salary_b,salary_m,position_level,skill_python,skill_sql,skill_machine_learning
0,San Francisco,MarkMonitor,180000.0,"Data skills (SQL, Hive, Pig). Applying machine...",Data Scientist,1,2,other,0,1,1

In [38]:
from sklearn import datasets, neighbors, metrics
import pandas as pd

In [39]:
Xss_train, Xss_test, Yss_train, Yss_test = train_test_split(Xs, Ys, test_size=0.33, stratify = Ys, random_state = 7)

In [40]:
knn = neighbors.KNeighborsClassifier(n_neighbors=5, weights='uniform')
knn.fit(Xss_train, Yss_train)

print knn.predict(Xss_test)
print knn.score(Xss_test, Yss_test)

[1 2 2 ..., 1 2 1]
0.750790638836

# End of Group Stuff

In [ ]:
# maybe go back and clean the data up more.  Definitely add visualizations of the EDA. Do a confusion matrix and
# ROC curve, grid search and anything else I can think of.

In [282]:
# cmap = {'0': 'r', '1': 'g', '2': 'b' }
# Ys = irisdf.target.apply(lambda x: cmap[str(x)])

In [270]:
# df.plot('petal length (cm)', 'petal width (cm)', kind='scatter', c=irisdf.ctarget)
# print irisdf.plot('petal length (cm)', 'petal width (cm)', kind='scatter', c=irisdf.ctar

In [387]:
# df['salaryBins'] = []
# if i in df.salary <= 75000:
#     df.append()
#     elif:
#         i in df.salary 
# 1 for i in df.salary if df.salary <= 75000

In [245]:
# This is a way to calculate your coefficients for your target and features.
import numpy as np
import pandas as pd

#Read in Breast Cancer Dataset
# df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/wdbc.data", header=None)

#Obtain the first 10 features, which are the mean figures in the dataset
data_df   = df[list(df.columns[2:12])]
target_df = df[1]

#Convert DataFrame to Numpy Array
data = data_df.as_matrix(columns=None)

#Perform Pearson correlation coefficients using Numpy
print(np.corrcoef(data))

[[ 1.          0.9997348   0.99985247 ...,  0.99975169  0.99982538
   0.984179  ]
 [ 0.9997348   1.          0.99996466 ...,  0.99953791  0.99990988
   0.98141087]
 [ 0.99985247  0.99996466  1.         ...,  0.99975481  0.99998275
   0.98296805]
 ...,
 [ 0.99975169  0.99953791  0.99975481 ...,  1.          0.99985158
   0.98679025]
 [ 0.99982538  0.99990988  0.99998275 ...,  0.99985158  1.          0.9838677 ]
 [ 0.984179    0.98141087  0.98296805 ...,  0.98679025  0.9838677   1.        ]]

In [333]:
np.mean(df['salary'])

66183.78555021925

In [176]:
# df['summary'].unique()

In [177]:
# df.shape

In [175]:
df.head()

,city,company,salary,summary,title
0,San+Francisco,MarkMonitor,180000.0,"Data skills (SQL, Hive, Pig). Applying machine...",Data Scientist
1,San+Francisco,Workbridge Associates,155000.0,3+ years of industry experience in a data scie...,Senior Data Scientist
2,San+Francisco,Mines.io,100000.0,We are looking for a data scientist/developer ...,Full-Stack Data Scientist
3,San+Francisco,Workbridge Associates,165000.0,In this position you will share programming an...,Data Scientist
4,San+Francisco,Smith Hanley Associates,140000.0,"This person will recruit, build and lead a tea...",Data Scientist

### Write 4 functions to extract each item: location, company, job, and salary.

example: 
```python
def extract_location_from_result(result):
    return result.find ...
```


- Make sure these functions are robust and can handle cases where the data/field may not be available.
- Test the functions on the results above

In [2]:
## YOUR CODE HERE

Now, to scale up our scraping, we need to accumulate more results. We can do this by examining the URL above.

- "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

There are two query parameters here we can alter to collect more results, the `l=New+York` and the `start=10`. The first controls the location of the results (so we can try a different city). The second controls where in the results to start and gives 10 results (thus, we can keep incrementing by 10 to go further in the list).

#### Complete the following code to collect results from multiple cities and starting points. 
- Enter your city below to add it to the search
- Remember to convert your salary to U.S. Dollars to match the other cities if the currency is different

In [5]:
YOUR_CITY = ''

In [6]:
url_template = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l={}&start={}"
max_results_per_city = 100

results = []

for city in set(['New+York', 'Chicago', 'San+Francisco', 'Austin', YOUR_CITY]):
    for start in range(0, max_results_per_city, 10):
        # Grab the results from the request (as above)
        # Append to the full set of results
        pass

#### Use the functions you wrote above to parse out the 4 fields - location, title, company and salary. Create a dataframe from the results with those 4 columns.

In [7]:
## YOUR CODE HERE

Lastly, we need to clean up salary data. 
1. Some of the salaries are not yearly but hourly, these will be useful to us for now
2. The salaries are given as text and usually with ranges.

#### Filter out the salaries that are not yearly (filter those that refer to hour)

In [8]:
## YOUR CODE HERE

#### Write a function that takes a salary string and converts it to a number, averaging a salary range if necessary

In [9]:
## YOUR CODE HERE

### Save your results as a CSV

In [14]:
## YOUR CODE HERE

## Predicting salaries using Logistic Regression

#### Load in the the data of scraped salaries

In [12]:
## YOUR CODE HERE

#### We want to predict a binary variable - whether the salary was low or high. Compute the median salary and create a new binary variable that is true when the salary is high (above the median)

In [15]:
## YOUR CODE HERE

#### Thought experiment: What is the baseline accuracy for this model?

In [16]:
## YOUR CODE HERE

#### Create a Logistic Regression model to predict High/Low salary using statsmodel. Start by ONLY using the location as a feature. Display the coefficients and write a short summary of what they mean.

In [17]:
## YOUR CODE HERE

#### Create a few new variables in your dataframe to represent interesting features of a job title.
- For example, create a feature that represents whether 'Senior' is in the title 
- or whether 'Manager' is in the title. 
- Then build a new Logistic Regression model with these features. Do they add any value?

In [18]:
## YOUR CODE HERE

#### Rebuild this model with scikit-learn.
- You can either create the dummy features manually or use the `dmatrix` function from `patsy`
- Remember to scale the feature variables as well!

In [19]:
## YOUR CODE HERE

#### Use cross-validation in scikit-learn to evaluate the model above. 
- Evaluate the accuracy, AUC, precision and recall of the model. 
- Discuss the differences and explain when you want a high-recall or a high-precision model in this scenario.

In [20]:
## YOUR CODE HERE

#### Compare L1 and L2 regularization for this logistic regression model. What effect does this have on the coefficients learned?

In [21]:
## YOUR CODE HERE

In [22]:
## YOUR CODE HERE

#### Continue to incorporate other text features from the title or summary that you believe will predict the salary and examine their coefficients

#### Take ~100 scraped entries with salaries. Convert them to use with your model and predict the salary - which entries have the highest predicted salaries?

### BONUS

#### Bonus: Use Count Vectorizer from scikit-learn to create features from the text summaries. 
- Examine using count or binary features in the model
- Re-evaluate the logistic regression model using these. Does this improve the model performance? 
- What text features are the most valuable?

In [23]:
## YOUR CODE HERE

In [24]:
## YOUR CODE HERE

#### Re-test L1 and L2 regularization. You can use LogisticRegressionCV to find the optimal reguarlization parameters. 
- Re-test what text features are most valuable.  
- How do L1 and L2 change the coefficients?

In [25]:
## YOUR CODE HERE

This was all at the top of the project starter

# Web Scraping for Indeed.com & Predicting Salaries

In this project, we will practice two major skills: collecting data by scraping a website and then building a binary predictor with Logistic Regression.

We are going to collect salary information on data science jobs in a variety of markets. Then using the location, title and summary of the job we will attempt to predict the salary of the job. For job posting sites, this would be extraordinarily useful. While most listings DO NOT come with salary information (as you will see in this exercise), being to able extrapolate or predict the expected salaries from other listings can help guide negotiations.

Normally, we could use regression for this task; however, we will convert this problem into classification and use Logistic Regression.

- Question: Why would we want this to be a classification problem?
- Answer: While more precision may be better, there is a fair amount of natural variance in job salaries - predicting a range be may be useful.

Therefore, the first part of the assignment will be focused on scraping Indeed.com. In the second, we'll focus on using listings with salary information to build a model and predict additional salaries.

We will be scraping job listings from Indeed.com using BeautifulSoup. Luckily, Indeed.com is a simple text page where we can easily find relevant entries.

First, look at the source of an Indeed.com page: (http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10")

Notice, each job listing is underneath a `div` tag with a class name of `result`. We can use BeautifulSoup to extract those.