# Web Scraping for Indeed.com and Predicting Salaries

In this project, we will practice two major skills: collecting data by scraping a website and then building a binary predictor with Logistic Regression.

We are going to collect salary information on data science jobs in a variety of markets. Then using the location, title and summary of the job we will attempt to predict the salary of the job. For job posting sites, this would be extraordinarily useful. While most listings DO NOT come with salary information (as you will see in this exercise), being to able extrapolate or predict the expected salaries from other listings can help guide negotiations.

Normally, we could use regression for this task; however, we will convert this problem into classification and use Logistic Regression.

- Question: Why would we want this to be a classification problem?
- Answer: While more precision may be better, there is a fair amount of natural variance in job salaries - predicting a range be may be useful.

Therefore, the first part of the assignment will be focused on scraping Indeed.com. In the second, we'll focus on using listings with salary information to build a model and predict additional salaries.

### Scraping job listings from Indeed.com

We will be scraping job listings from Indeed.com using BeautifulSoup. Luckily, Indeed.com is a simple text page where we can easily find relevant entries.

First, look at the source of an Indeed.com page: (http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10")

Notice, each job listing is underneath a `div` tag with a class name of `result`. We can use BeautifulSoup to extract those.

#### Setup a request (using `requests`) to the URL below. Use BeautifulSoup to parse the page and extract all results (HINT: Look for div tags with class name result)

In [28]:
URL = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

In [29]:
import requests
import bs4
from bs4 import BeautifulSoup

In [30]:
r = requests.get(URL)
soup = BeautifulSoup(r.content)
# Append to the full set of results
results = soup.findAll('div', { "class" : "result" })

Let's look at one result more closely. A single `result` looks like

```
<div class=" row result" data-jk="2480d203f7e97210" data-tn-component="organicJob" id="p_2480d203f7e97210" itemscope="" itemtype="http://schema.org/JobPosting">
<h2 class="jobtitle" id="jl_2480d203f7e97210">
<a class="turnstileLink" data-tn-element="jobTitle" onmousedown="return rclk(this,jobmap[0],1);" rel="nofollow" target="_blank" title="AVP/Quantitative Analyst">AVP/Quantitative Analyst</a>
</h2>
<span class="company" itemprop="hiringOrganization" itemtype="http://schema.org/Organization">
<span itemprop="name">
<a href="/cmp/Alliancebernstein?from=SERP&amp;campaignid=serp-linkcompanyname&amp;fromjk=2480d203f7e97210&amp;jcid=b374f2a780e04789" target="_blank">
    AllianceBernstein</a></span>
</span>
<tr>
<td class="snip">
<nobr>$117,500 - $127,500 a year</nobr>
<div>
<span class="summary" itemprop="description">
C onduct quantitative and statistical research as well as portfolio management for various investment portfolios. Collaborate with Quantitative Analysts and</span>
</div>
</div>
</td>
</tr>
</table>
</div>
```

While this has some of the more verbose elements removed, we can see that there is some structure to the above:
- The salary is available in a `nobr` element inside of a `td` element with `class='snip`.
- The title of a job is in a link with class set to `jobtitle` and a `data-tn-element="jobTitle`.  
- The location is set in a `span` with `class='location'`. 
- The company is set in a `span` with `class='company'`.

### Write 4 functions to extract each item: location, company, job, and salary.

example: 
```python
def extract_location_from_result(result):
    return result.find ...
```


- Make sure these functions are robust and can handle cases where the data/field may not be available.
- Test the functions on the results above

In [31]:
def extract_text(el):
    if el:
        return el.text.strip()
    else:
        return ''
        

def get_company_from_result(result):
    return extract_text(result.find('span', {'class' : 'company'}))

def get_location_from_result(result):
    return  extract_text(result.find('span', {'class' : 'location'}))

def get_summary_from_result(result):
    return  extract_text(result.find('span', {'class' : 'summary'}))

def get_title_from_result(result):
    return result.find('a', {'data-tn-element' : 'jobTitle'}).text.strip()

def get_salary_from_result(result):
    salary_table = result.find('td', {'class' : 'snip'})
    if salary_table:
        snip = salary_table.find('nobr')
        if snip:
            return snip.text.strip()
        
    return None

Now, to scale up our scraping, we need to accumulate more results. We can do this by examining the URL above.

- "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

There are two query parameters here we can alter to collect more results: the `l=New+York` and the `start=10`. The first controls the location of the results (so we can try different city). The second controls where in the results to start and gives 10 results (so we can keep incrementing this by 10 to move further within the list).

#### Complete the following code to collect results from multiple cities and start points. 
- Enter your city below to add it to the search
- Remember to convert your salary to U.S. Dollars to match the other cities if the currency is different

In [32]:
YOUR_CITY = 'Atlanta'

In [33]:
url_template = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l={}&start={}"
max_results_per_city = 100

results = []

for city in set(['New+York', 'Chicago', 'San+Francisco', 'Austin', YOUR_CITY]):
    for start in range(0, max_results_per_city, 10):
        r = requests.get(url_template.format(city, start))
        # Grab the results from the request (as above)
        soup = BeautifulSoup(r.content)
        # Append to the full set of results
        results += soup.findAll('div', { "class" : "result" })

#### Use the functions you wrote above to parse out the 4 fields - location, title, company and salary. Create a dataframe from the results with those 4 columns.

In [34]:
rows = []
for result in results:
    if result:
        row = {}
        row['title'] = get_title_from_result(result)
        row['company'] = get_company_from_result(result)
        row['summary'] = get_summary_from_result(result)
        row['salary'] = get_salary_from_result(result)
        row['city'] = city
        rows.append(row)

import pandas as pd
data = pd.DataFrame.from_records(rows)

data.head()

,city,company,salary,summary,title
0,Chicago,Workday,None,Work with product managers to formulate the da...,Data Scientist
1,Chicago,Apple,None,Experience and interest in data modeling and d...,"Software Engineer, iTunes- Big Data Play Activity"
2,Chicago,"Acumen, LLC",None,Data and Policy Analysts perform a wide array ...,Data and Policy Analyst - Statistical Programmer
3,Chicago,Zynga,None,Work with large amounts of data. Zynga’s data ...,Data Scientist
4,Chicago,Ayasdi,None,Data management and data extraction skills; Ro...,Data Scientist (Healthcare)

Lastly, we need to clean up salary data. 
1. Some of the salaries are not yearly but hourly, these will be useful to us for now
2. The salaries are given as text and usually with ranges.

#### Filter out the salaries that not yearly (filter those that refer to hour)

In [35]:
data['salary'] = data.salary.astype('str')
data = data[~data.salary.str.contains('hour')]

#### Write a function that takes a salary string and converts it to a number, averaging a salary range if necessary

In [36]:
import re
import numpy as np
def extract_salary_average(salary_string):
    regex = r'\$([0-9]+,[0-9]+)'
    matches = re.findall(regex, salary_string)
    return np.mean([float(salary.replace(',', '')) for salary in matches ])

In [10]:
data['parsed_salary'] = data['salary'].map(extract_salary_average)

/Users/jam3jam/anaconda/lib/python2.7/site-packages/numpy/core/_methods.py:59: RuntimeWarning: Mean of empty slice.
  warnings.warn("Mean of empty slice.", RuntimeWarning)

#### Save the scraped results as a CSV

## Predicting salaries using Logistic Regression

#### Load in the the data of scraped salaries

In [11]:
import pandas as pd
salary_data = pd.read_csv('../assets/indeed-scraped-job-postings.csv')
salary_data.head()

,city,company,salary,summary,title,parsed_salary
0,San+Francisco,MarkMonitor,"$180,000 a year","Data skills (SQL, Hive, Pig). Applying machine...",Data Scientist,180000
1,San+Francisco,Workbridge Associates,"$130,000 - $180,000 a year",3+ years of industry experience in a data scie...,Senior Data Scientist,155000
2,San+Francisco,Mines.io,"$80,000 - $120,000 a year",We are looking for a data scientist/developer ...,Full-Stack Data Scientist,100000
3,San+Francisco,Workbridge Associates,"$150,000 - $180,000 a year",In this position you will share programming an...,Data Scientist,165000
4,San+Francisco,Smith Hanley Associates,"$140,000 a year","This person will recruit, build and lead a tea...",Data Scientist,140000

#### We want to predict a binary variable - whether the salary was low or high. Compute the median salary and create a new binary variable that is true when the salary is high (above the median)

In [12]:
median_salary = salary_data.parsed_salary.median()
salary_data['HighSalary'] = (salary_data['parsed_salary'] > median_salary).astype(int)

#### Thought experiment: What is the baseline accuracy for this model?

In [13]:
# It is 50% if we guess randomly, half the salaries will be below the median and half will be above.

#### Create a Logistic Regression model to predict High/Low salary using statsmodel. Start by ONLY using the location as a feature. Display the coefficients and write a short summary of what they mean.

In [14]:
import statsmodels.formula.api as sm

model = sm.logit("HighSalary ~ city", data=salary_data).fit()
model.summary()

Optimization terminated successfully.
         Current function value: 0.278274
         Iterations 10

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:             HighSalary   No. Observations:                 4791
Model:                          Logit   Df Residuals:                     4786
Method:                           MLE   Df Model:                            4
Date:                Tue, 28 Jun 2016   Pseudo R-squ.:                  0.5985
Time:                        13:39:38   Log-Likelihood:                -1333.2
converged:                       True   LL-Null:                       -3320.9
                                        LLR p-value:                     0.000
=========================================================================================
                            coef    std err          z      P>|z|      [95.0% Conf. Int.]
-----------------------------------------------------------------------------------------
Intercept                -1.7557      0.054    -32.220      0.000        -1.862    -1.649
city[T.Chicago]           8.1298      0.710     11.454      0.000         6.739     9.521
city[T.New+York]          4.3378      0.194     22.351      0.000         3.957     4.718
city[T.San+Francisco]     5.6602      0.361     15.669      0.000         4.952     6.368
city[T.Seattle]           0.4516      0.264      1.708      0.088        -0.067     0.970
=========================================================================================
"""

#### Create a few new variables in your dataframe to represent interesting features of a job title.
- For example, create a feature that represents whether 'Senior' is in the title 
- or whether 'Manager' is in the title. 
- Then build a new Logistic Regression model with these features. Do they add any value?

In [15]:
salary_data['is_senior'] = salary_data['title'].str.contains('Senior').astype(int)
salary_data['is_director'] = salary_data['title'].str.contains('Director').astype(int)
salary_data['is_manager'] = salary_data['title'].str.contains('Manager').astype(int)

model = sm.logit("HighSalary ~ city + is_senior + is_manager", data=salary_data).fit()
model.summary()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.269897
         Iterations: 35

/Users/jam3jam/anaconda/lib/python2.7/site-packages/statsmodels/base/model.py:466: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:             HighSalary   No. Observations:                 4791
Model:                          Logit   Df Residuals:                     4784
Method:                           MLE   Df Model:                            6
Date:                Tue, 28 Jun 2016   Pseudo R-squ.:                  0.6106
Time:                        13:39:39   Log-Likelihood:                -1293.1
converged:                      False   LL-Null:                       -3320.9
                                        LLR p-value:                     0.000
=========================================================================================
                            coef    std err          z      P>|z|      [95.0% Conf. Int.]
-----------------------------------------------------------------------------------------
Intercept                -1.6087      0.056    -28.773      0.000        -1.718    -1.499
city[T.Chicago]           8.7110      0.738     11.807      0.000         7.265    10.157
city[T.New+York]          4.2870      0.196     21.830      0.000         3.902     4.672
city[T.San+Francisco]     7.1341      0.432     16.512      0.000         6.287     7.981
city[T.Seattle]           0.1670      0.283      0.589      0.556        -0.388     0.722
is_senior                -1.7020      0.252     -6.765      0.000        -2.195    -1.209
is_manager               32.3241   2.93e+06    1.1e-05      1.000     -5.74e+06  5.74e+06
=========================================================================================
"""

#### Rebuild this model with scikit-learn.
- You can either create the dummy features manually or use the `dmatrix` function from `patsy`
- Remember to scale the feature variables as well!

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
model = LogisticRegression(penalty = 'l2', C=0.1)

from patsy import dmatrix
X = dmatrix("city + is_senior + is_manager + 0", data=salary_data) # Remember the + 0  to remove the Intercept term
X_scaled = scaler.fit_transform(X)
y = salary_data['HighSalary']

model.fit(X_scaled, y)

LogisticRegression(C=0.1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

#### Use cross-validation in scikit-learn to evaluate the model above. 
- Evaluate the accuracy, AUC, precision and recall of the model. 
- Discuss the differences and explain when you want a high-recall or a high-precision model in this scenario.

In [17]:
from sklearn.cross_validation import cross_val_score

for metric in ['accuracy', 'precision', 'recall', 'roc_auc']:
    scores = cross_val_score(model, X_scaled, y, cv=3, scoring=metric)
    print(metric, scores.mean(), scores.std())

('accuracy', 0.81381757461907744, 0.099792233577058409)
('precision', 0.94475421863536313, 0.039064769978785954)
('recall', 0.67376775271512113, 0.23193078089210251)
('roc_auc', 0.88248180944643628, 0.12205474940024216)

#### Compare L1 and L2 regularization for this logistic regression model. What effect does this have on the coefficients learned?

In [18]:
model = LogisticRegression(penalty = 'l1', C=1.0)

for metric in ['accuracy', 'precision', 'recall', 'roc_auc']:
    scores = cross_val_score(model, X_scaled, y, cv=3, scoring=metric)
    print(metric, scores.mean(), scores.std())

print()    
model = LogisticRegression(penalty = 'l2', C=1.0)

for metric in ['accuracy', 'precision', 'recall', 'roc_auc']:
    scores = cross_val_score(model, X_scaled, y, cv=3, scoring=metric)
    print(metric, scores.mean(), scores.std())
    
print()
model = LogisticRegression(penalty = 'l1', C=0.1)

for metric in ['accuracy', 'precision', 'recall', 'roc_auc']:
    scores = cross_val_score(model, X_scaled, y, cv=3, scoring=metric)
    print(metric, scores.mean(), scores.std())

('accuracy', 0.80922563139219372, 0.10308041729627031)
('precision', 0.95688213241049713, 0.033875409650586712)
('recall', 0.66123642439431907, 0.23969985025688742)
('roc_auc', 0.88234013276829959, 0.12195250929770801)
()
('accuracy', 0.81381757461907744, 0.099792233577058409)
('precision', 0.94475421863536313, 0.039064769978785954)
('recall', 0.67376775271512113, 0.23193078089210251)
('roc_auc', 0.76313672165394708, 0.15243140125395649)
()
('accuracy', 0.81235650177415986, 0.10080473481341386)
('precision', 0.94615558741417027, 0.03810847365306444)
('recall', 0.65705931495405179, 0.24252212515294344)
('roc_auc', 0.76999993726493965, 0.16797796070605878)

In [19]:
model.fit(X_scaled, y)

df = pd.DataFrame({'features' : X.design_info.column_names, 'coef': model.coef_[0,:]})
df.sort_values('coef', ascending=False, inplace=True)
df

       coef             features
1  1.189222        city[Chicago]
3  0.563010  city[San+Francisco]
6  0.071139           is_manager
2  0.000000       city[New+York]
5 -0.513437            is_senior
4 -0.518646        city[Seattle]
0 -2.118992         city[Austin]

#### Continue to incorporate other text features from the title or summary that you believe will predict the salary and examine their coefficients

#### Take ~100 scraped entries with salaries. Convert them to use with your model and predict the salary - which entries have the highest predicted salaries

### BONUS

#### Bonus: Use Count Vectorizer from scikit-learn to create features from the text summaries. 
- Examine using count or binary features in the model
- Re-evaluate the logistic regression model using these. Does this improve the model performance? 
- What text features are most valuable?

In [20]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
X = vectorizer.fit_transform(salary_data.summary)
X_scaled = scaler.fit_transform(X.toarray())

for metric in ['accuracy', 'precision', 'recall', 'roc_auc']:
    scores = cross_val_score(model, X_scaled, y, cv=3, scoring=metric)
    print(metric, scores.mean(), scores.std())

/Users/jam3jam/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:420: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/Users/jam3jam/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:420: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

('accuracy', 0.88749739094134839, 0.10332483658163241)
('precision', 0.95464841332979766, 0.032787087305207366)
('recall', 0.82372598162071853, 0.24223489469388534)
('roc_auc', 0.98711996930164381, 0.01733656533126255)

In [21]:
model.fit(X_scaled, y)

df = pd.DataFrame({'features' : vectorizer.get_feature_names(), 'coef': model.coef_[0,:]})
df.sort_values('coef', ascending=False, inplace=True)

In [24]:
df.head()

          coef features
697   0.857151      new
1074  0.740911    their
124   0.681347      big
166   0.518044  chicago
1079  0.123050     this

In [25]:
df.tail()

         coef     features
293 -0.665658      digital
710 -0.666203           of
194 -0.877582  collections
19  -1.066136  acquisition
276 -2.404181       design

#### Re-test L1 and L2 regularization. You can use LogisticRegressionCV to find the optimal reguarlization parameters. 
- Re-test what text features are most valuable.  
- How do L1 and L2 change the coefficients

In [26]:
from sklearn.linear_model import LogisticRegressionCV

model = LogisticRegressionCV()

X = vectorizer.fit_transform(salary_data.summary)
X_scaled = scaler.fit_transform(X.toarray())

for metric in ['accuracy', 'precision', 'recall', 'roc_auc']:
    scores = cross_val_score(model, X_scaled, y, cv=3, scoring=metric)
    print(metric, scores.mean(), scores.std())

('accuracy', 0.75286996451680233, 0.18896928935478832)
('precision', 0.92835797725773272, 0.084619220418159558)
('recall', 0.51879699248120303, 0.38261000002682477)
('roc_auc', 0.9900747906478754, 0.014036365675166886)

/Users/jam3jam/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:420: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/Users/jam3jam/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:420: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)