In [4]:
import pandas as pd

Syntax:
pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,
          keys=None, levels=None, names=None, verify_integrity=False)
          
pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False)

### Lab

In [3]:
df_a = pd.DataFrame([{"a": 1, "b": 4}, {"a": 2, "b": 5}, {"a": 3, "b": 6}, 
                    {"c": 1}])
df_a

     a    b    c
0  1.0  4.0  NaN
1  2.0  5.0  NaN
2  3.0  6.0  NaN
3  NaN  NaN  1.0

In [5]:
df_b = pd.DataFrame([{"c": 2, "d": 7}, {"c": 3, "d": 8}])
df_b

   c  d
0  2  7
1  3  8

In [43]:
# left join
pd.merge(df_a, df_b, how = 'left', left_index = True, right_index = True, indicator = True)

     a    b  c_x  c_y    d     _merge
0  1.0  4.0  NaN  2.0  7.0       both
1  2.0  5.0  NaN  3.0  8.0       both
2  3.0  6.0  NaN  NaN  NaN  left_only
3  NaN  NaN  1.0  NaN  NaN  left_only

In [12]:
# right join
pd.merge(df_a, df_b, how = 'right', sort = True)

    a   b  c  d
0 NaN NaN  2  7
1 NaN NaN  3  8

In [46]:
# inner join
pd.merge(df_a, df_b, how = 'inner', indicator = True)

Empty DataFrame
Columns: [a, b, c, d, _merge]
Index: []

In [17]:
# outer join
pd.merge(df_a, df_b, how = 'outer')

     a    b    c    d
0  1.0  4.0  NaN  NaN
1  2.0  5.0  NaN  NaN
2  3.0  6.0  NaN  NaN
3  NaN  NaN  1.0  NaN
4  NaN  NaN  2.0  7.0
5  NaN  NaN  3.0  8.0

### Bonus

In [20]:
left = pd.DataFrame({'key1': ['foo', 'foo', 'bar'],
                  'key2': ['one', 'two', 'one'],
                  'lval': [1, 2, 3]})
left

  key1 key2  lval
0  foo  one     1
1  foo  two     2
2  bar  one     3

In [21]:
right = pd.DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'],
                   'key2': ['one', 'one', 'one', 'two'],
                   'rval': [4, 5, 6, 7]})
right

  key1 key2  rval
0  foo  one     4
1  foo  one     5
2  bar  one     6
3  bar  two     7

In [37]:
# left join
pd.merge(left, right, how = 'left', indicator = True)

  key1 key2  lval  rval     _merge
0  foo  one     1   4.0       both
1  foo  one     1   5.0       both
2  foo  two     2   NaN  left_only
3  bar  one     3   6.0       both

In [28]:
# right join
pd.merge(left, right, how = 'right', indicator = True)

  key1 key2  lval  rval      _merge
0  foo  one   1.0     4        both
1  foo  one   1.0     5        both
2  bar  one   3.0     6        both
3  bar  two   NaN     7  right_only

In [29]:
# inner join
pd.merge(left, right, how = 'inner', on = 'key2')

  key1_x key2  lval key1_y  rval
0    foo  one     1    foo     4
1    foo  one     1    foo     5
2    foo  one     1    bar     6
3    bar  one     3    foo     4
4    bar  one     3    foo     5
5    bar  one     3    bar     6
6    foo  two     2    bar     7

In [53]:
pd.merge(left, right, how = 'outer', indicator = True)

  key1 key2  lval  rval      _merge
0  foo  one   1.0   4.0        both
1  foo  one   1.0   5.0        both
2  foo  two   2.0   NaN   left_only
3  bar  one   3.0   6.0        both
4  bar  two   NaN   7.0  right_only

In [68]:
#pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,
#           keys=None, levels=None, names=None, verify_integrity=False)
# outer join
variable = pd.concat([left, right], join = 'outer', ignore_index = False)
variable.reset_index()

   index key1 key2  lval  rval
0      0  foo  one   1.0   NaN
1      1  foo  two   2.0   NaN
2      2  bar  one   3.0   NaN
3      0  foo  one   NaN   4.0
4      1  foo  one   NaN   5.0
5      2  bar  one   NaN   6.0
6      3  bar  two   NaN   7.0