## Project 6

In [37]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, roc_curve, auc, f1_score
from matplotlib.colors import ListedColormap
from patsy import dmatrices
from sklearn.linear_model import LogisticRegression, Ridge
from sklearn.cross_validation import train_test_split, cross_val_score
from sklearn.pipeline import Pipeline, make_pipeline, make_union
from sklearn import metrics
from sklearn.preprocessing import Imputer, StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.base import BaseEstimator, TransformerMixin
from IPython.display import Image
from sklearn.grid_search import GridSearchCV
from sklearn.metrics import roc_auc_score, classification_report
from sqlalchemy import create_engine
import patsy
from sklearn import neighbors, metrics
import seaborn as sns
sns.set(color_codes=True)
import os
from scrapy.selector import Selector
from scrapy.http import HtmlResponse
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import subprocess
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
import scipy
from imdbpie import Imdb
import requests
import nltk
import matplotlib.pyplot as plt
import urllib
from bs4 import BeautifulSoup
import nltk
import collections
import re
import csv
import psycopg2
%matplotlib inline

### Pre-Work: Write a problem statement

## Part 1: Acquire the Data

#### 1. Connect to the IMDB API

In [11]:
imdb = Imdb()
imdb = Imdb(anonymize=True)

#### 2. Query the top 250 rated movies in the database

In [38]:
top_films = pd.DataFrame(imdb.top_250())
top_films.head()
del top_films['image']
del top_films['type']
del top_films['can_rate']

In [40]:
top_films.head(3)

   num_votes  rating     tconst                     title  year
0    1677125     9.3  tt0111161  The Shawshank Redemption  1994
1    1147488     9.2  tt0068646             The Godfather  1972
2     784568     9.0  tt0071562    The Godfather: Part II  1974

#### 3. Only select the top 25 movies and delete the uncessary rows

In [28]:
df = top_films[:26]
df.head()

   num_votes  rating     tconst                     title  year
0    1677125     9.3  tt0111161  The Shawshank Redemption  1994
1    1147488     9.2  tt0068646             The Godfather  1972
2     784568     9.0  tt0071562    The Godfather: Part II  1974
3    1662425     9.0  tt0468569           The Dark Knight  2008
4     858289     8.9  tt0108052          Schindler's List  1993

#### 4. Write the Results to a csv

In [34]:
df.to_csv('imdbtop25.csv')

## Part 2: Wrangle the text data

#### 1. Convert the listing identification numbers (tconst) from the first dataframe to a list

In [53]:
tconst = []
for i in df.tconst:
    tconst.append(i)

#### 2. Scrape the reviews for the top 25 movies

*Hint*: Use a loop to scrape each page at once

#### 3. Work through each title and find the most common descriptors

*Hint*: "soup" from BeautifulSoup is the html returned from all 25 pages. You'll need to either address each page individually or break them down by elements

#### 4. Convert to a string and remove the non AlphaNumeric characters

*Hint*: Use regular expressions!

#### 5. Tokenize the Output

#### 6. Convert to a Dataframe for Easy Viewing

####  7. Find the rows with the top five descriptive words

In [40]:
words = ('best', 'hope', 'love', 'beautiful', 'great')

#### 8. Write the results to a csv

#### 9. Repeat the process for the other top 24 titles

## Part 3: Combine Tables in PostgreSQL

#### 1. Import your two .csv data files into your Postgre Database as two different tables

For ease, we can call these table1 and table2

#### 2. Connect to database and query the joined set

#### 3. Join the two tables

#### 4. Select the newly joined table and save two copies of the into dataframes

## Part 4: Parsing and Exploratory Data Analysis

#### 1. Rename the column headings

#### 2. Run a description of the data

#### 3. Visualize the Data

## Part 3: Build the Decision Tree

#### 1. What is our target attribute?

#### 2. Prepare the data and define the training set

#### 2. Train the Model

#### 3. Set up test data and test the model

#### 5. Check the results

#### 6. What is overfitting and how are we at risk?