### List comprehension independent practice

Each problem should be completed with a single list (or dictionary) comprehension!

In [64]:
import pandas as pd
import numpy as np
import string

#### Easy problems

##### 1. convert each string from lowercase to uppercase

[Hint: python strings can be turned to uppercase by appending: .upper(), e.g 'hello'.upper()]

In [65]:
strings = ['black','Yellow','ReD','GreeN','BLUe']
[i.upper() for i in strings]

['BLACK', 'YELLOW', 'RED', 'GREEN', 'BLUE']

##### 2. take the numbers in the list and keep only the even numbers

[Hint: the modulo operator **%** can be used to calculate the remainder, e.g. 5 % 2 == 1]

In [67]:
numbers = [1,2,3,4,5,6,7,8,9,10]
[n for n in numbers if n % 2 == 0]

[2, 4, 6, 8, 10]

##### 3. convert to 'v' if a character is a vowel and 'c' if a consonant, otherwise convert to '?'

In [42]:
characters = ['a','f',None,'k','l','1',12,'e','e',-1,'i','b','p']
alphabet = list(string.ascii_lowercase)
vowels = ['a','e','i','o','u']
['v' if a in vowels else 'c' if (a in alphabet and a not in vowels) else '?' for a in characters]

['v', 'c', '?', 'c', 'c', '?', '?', 'v', 'v', '?', 'v', 'c', 'c']

#### Medium problems

##### 4. calculate the means of the numbers in each list that lie between 0 and 100 (inclusive)

In [57]:
number_sets = [[1,50,-40,20,90], [1004,1002,101,-90,40,34], [-1,-2,34,55,77,109]]
means = [np.mean([ y for y in x if y >= 0 and y <=100]) for x in number_sets] 
print means

[40.25, 37.0, 55.333333333333336]

##### 5. for each string in each list, if the index of the strings is even, join them like: 'item1 item2'. Otherwise join them like: 'item2 item1'.

In [60]:
strings1 = ['alpha','bravo','charlie','delta']
strings2 = ['echo','foxtrot','golf','hotel']
for i in strings1:
    if i in strings1[1::2]:
        print i + " " + strings2[strings1.index(i)]
    else:
        print strings2[strings1.index(i)] + " " + i

echo alpha
bravo foxtrot
golf charlie
delta hotel

In [62]:
strings1 = ['alpha','bravo','charlie','delta']
strings2 = ['echo','foxtrot','golf','hotel']
[ i+" "+strings2[strings1.index(i)] if strings1.index(i)%2==0 else strings2[strings1.index(i)]+" "+i for i in strings1 ]

['alpha echo', 'foxtrot bravo', 'charlie golf', 'hotel delta']

##### 6. create a pandas dataframe from the columns and associated values where each column is the first five multiples of the values:

In [70]:
columns = ['five','seven','twelve']
values = [5, 7, 12]
multiples = [1, 2, 3, 4, 5]
table = {k:v for k,v in zip(columns,[[k*j for k in multiples] for j in values])}

pd.DataFrame.from_dict(table)

   five  seven  twelve
0     5      7      12
1    10     14      24
2    15     21      36
3    20     28      48
4    25     35      60

#### Hard problems

##### 7. manually calculate the median of the first n numbers (from list "N") in list "X"

In [1]:
N = [12, 5, 6, 8, 10]
X = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

##### 8. combine into a flat list: 

1. iterate the elements of one list 
2. iteratively multiply by them by the elements in the second list
3. then iteratively subtract the elements in a third list

e.g:

    a = [1,2]
    b = [0,1]
    c = [1,2]
    output = [0,0,0,-1,0,0,1,0]

In [2]:
a = [9,7,5]
b = [10,5,1]
c = [1,2,3]
[(i*j-k) for i in a for j in b for k in c]

[89,
 88,
 87,
 44,
 43,
 42,
 8,
 7,
 6,
 69,
 68,
 67,
 34,
 33,
 32,
 6,
 5,
 4,
 49,
 48,
 47,
 24,
 23,
 22,
 4,
 3,
 2]